@model TaskManagementApp.Models.TaskItem

@{
    ViewData["Title"] = "Create Task";
}
<h1>@ViewData["pageTitle"]</h1> 

<form asp-action="Create" method="post">
    @await Html.PartialAsync("_TaskItemDetailsForm", Model)
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>